---
import { Image } from "astro:assets";
import siteConfig from "../data/site-config";
---

<header
  class="w-full max-h-20 px-6 py-5 mb-8 border-b border-b-zinc-600 border-opacity-30"
>
  <div class="max-w-5xl w-full h-full mx-auto flex items-center">
    {
      siteConfig.logo && siteConfig.logo?.src ? (
        <a href="/">
          <Image
            src={siteConfig.logo.src}
            alt={siteConfig.logo.alt || ""}
            class="max-h-12"
          />
        </a>
      ) : (
        <a href="/">{siteConfig.title}</a>
      )
    }
  </div>
</header>
