---
import "@/styles/base.css";

import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";

export type Props = HeadProps;

const props = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead {...props} />
  </head>
  <body>
    <slot />
  </body>
</html>
