---
import "@/styles/base.css";

import "@fontsource/roboto";

import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";

export type Props = HeadProps;

const props = Astro.props;
---

<!doctype html>
<html
  lang="pt-br"
  class="antialiased break-words dark text-zinc-300 min-h-screen"
>
  <head>
    <BaseHead {...props} />
  </head>
  <body class="min-h-screen">
    <main class="bg-zinc-900 min-h-screen grid grid-rows-[auto_1fr_auto]">
      <Header />

      <div class="w-full max-w-5xl px-6 mx-auto my-10">
        <slot />
      </div>

      <footer>Footer</footer>
    </main>
  </body>
</html>
